/*ADD CUSTOM FONT*/
@font-face { font-family: 'Klavika'; src: url('fonts/Klavika Regular Plain.otf'); }
@font-face { font-family: 'Klavika Light'; src: url('fonts/Klavika Light.otf'); }
@font-face { font-family: 'Klavika Bold'; src: url('fonts/Klavika Bold.otf'); }

/*GENERAL*/
.row {
  padding-bottom: 30px;
}
.red-color {
  color: #D20A0A;
}
.test {
  border: 5px solid yellow
}
/*END GENERAL*/

/*----------------------------------------*/

/*NAVBAR */
.navbar-black {
  background-color: #151319;
}
.navbar-black a {
  font-family: 'Klavika Light';
  font-size: 16px;
  color: #fff;
}
.navbar-red {
  background-color: #D20A0A;
}
.navbar-red a {
  font-family: 'Klavika';
  font-size: 18px;
  color: #fff;
}
.navbar a:hover {
  color: #D20A0A;
}
.navbar-header a:hover {
  color: #fff;
}
/*END NAVBAR*/

/*----------------------------------------*/

/*HEADER / BLOCK1*/
.header-container {
  width: 100%;
  height: 550px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}
.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.header-container h1 {
  z-index: 1;
  color: #fff;
  font-family: 'Klavika Bold';
  font-size: 90px;
}
.header-container p {
  color: #c8c9ca;
  font-family: 'Klavika Light';
  font-size: 18px;
}
.block1 a {
  background-color: #D20A0A;
  color: #fff;
  font-family: 'Klavika';
  transition: 0.3s;
}
.block1 a:hover {
  background-color: #fff;
  color: #D20A0A;
  transition: 0.3s;
}
.block1 {
  margin-top: 7em;
}
/*END HEADER / BLOCK1*/

/*----------------------------------------*/

/*BLOCK2*/
.block2 {
  background-color: #B01113;
}
.block2 h1 {
  color: #fff;
  font-family: 'Klavika';
  font-size: 66px;
}
.block2 p {
  font-style: italic;
  font-family: 'Klavika Light';
  font-size: 18px;
  color: #fff;
}
.block2 a {
  font-family: 'Klavika';
  color: #fff;
  background-color: #000;
  transition: 0.3s;
}
.block2 a:hover {
  background-color: #fff;
  color: #000;
}
/*END BLOCK2*/

/*----------------------------------------*/

/*BLOCK3*/
.block3 {
  font-family: 'Klavika';
  background-image: linear-gradient(rgb(0,0,0) 0%, rgba(236, 213, 213, 0.3) 0%), url(images/classes.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.block3 h1 {
  font-family: 'Klavika Bold';
  color: #000;
  font-size: 40px;
  padding: 0.5em 0;
}
.block3 p {
  color: #000;
  font-size: 20px;
  padding-bottom: 15em;
}
.block3 img {
  box-shadow: 5px 5px 20px;
}
.block3 a {
  background-color: #D20A0A;
  color: #fff;
  transition: 0.3s;
}
.block3 a:hover {
  color: #D20A0A;
  background-color: #fff;
  transition: 0.3s;
}
/*END BLOCK3*/

/*----------------------------------------*/

/*BLOCK4*/
.block4 {
  background-color: #0C0C0F;
  padding: 5em 0;
}
.block4 h1 {
  color: #fff;
  font-family: 'Klavika Bold';
  font-size: 28px;
  padding-bottom: 10px;
}
.block4 a {
  color: #8c8c8c;
  font-family: 'Klavika Bold';
  font-size: 25px;
}
.block4-1 a,
.block4-2 a,
.block5-1 a,
.block5-2 a,
.block5-3 a,
.block5-4 a {
  width:100%;
  padding: 7em 0;
}
.block4-1 a:hover,
.block4-2 a:hover,
.block5-1 a:hover,
.block5-2 a:hover,
.block5-3 a:hover,
.block5-4 a:hover {
  color: #fff;
}
.block4-1 {
  background-image: linear-gradient(rgb(0,0,0) 0%, rgba(0,0,0,0.4) 0%), url(images/block4-1.jpg);
  background-size: cover;
}
.block4-1:hover {
  background-image: url(images/block4-1.jpg);
  background-size: cover;
}
.block4-2 {
  background-image: linear-gradient(rgb(0,0,0) 0%, rgba(0,0,0,0.4) 0%), url(images/block4-2.jpg);
  background-size: cover;
}
.block4-2:hover {
  background-image: url(images/block4-2.jpg);
  background-size: cover;
}
/*END BLOCK4*/

/*----------------------------------------*/

/*BLOCK5*/
.block5-1,
.block5-2,
.block5-3,
.block5-4 {
  margin-top: 1em;
}
.block5-1 {
  background-image: linear-gradient(rgb(0,0,0) 0%, rgba(0,0,0,0.4) 0%), url(images/block5-1.jpg);
  background-size: cover;
}
.block5-1:hover {
  background-image: url(images/block5-1.jpg);
  background-size: cover;
}
.block5-2 {
  background-image: linear-gradient(rgb(0,0,0) 0%, rgba(0,0,0,0.4) 0%), url(images/block5-2.jpg);
  background-size: cover;
}
.block5-2:hover {
  background-image: url(images/block5-2.jpg);
  background-size: cover;
}
.block5-3 {
  background-image: linear-gradient(rgb(0,0,0) 0%, rgba(0,0,0,0.4) 0%), url(images/block5-3.jpg);
  background-size: cover;
}
.block5-3:hover {
  background-image: url(images/block5-3.jpg);
  background-size: cover;
}
.block5-4 {
  background-image: linear-gradient(rgb(0,0,0) 0%, rgba(0,0,0,0.4) 0%), url(images/block5-4.jpg);
  background-size: cover;
}
.block5-4:hover {
  background-image: url(images/block5-4.jpg);
  background-size: cover;
}
/*END BLOCK5*/

/*----------------------------------------*/

/*BLOCK6*/
.block6 h1 {
  color: #000;
  font-family: 'Klavika';
  font-size: 64px;
  padding-bottom: 10px;
}
.block6 label,
.block6 input,
.block6 textarea,
.block6 select,
.block6 button {
  color: #000;
  font-family: 'Klavika Light';
  font-size: 16px;
}
/*END BLOCK5/6*/

/*----------------------------------------*/

/*BLOCK7*/
.block7 {
  background-color: #0C0C0F;
  padding-top: 30px;
}
.block7 img {
  margin-bottom: 20px;
}
/*END BLOCK7*/

/*----------------------------------------*/

/*BLOCK8*/
.block8 {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Klavika';
  background-image: linear-gradient(rgb(0,0,0) 0%, rgba(186, 32, 32, 0.7) 0%), url(images/free-train.jpg);
  background-size: cover;
  height: 350px;
}
.block8 h2 {
  font-size: 18px;
}
.block8 h1 {
  font-size: 52px;
  font-family: 'Klavika Bold';
}
.block8 a {
  font-family: 'Klavika';
  color: #fff;
  background-color: #000;
  transition: 0.3s;
}
.block8 a:hover {
  background-color: #fff;
  color: #000;
}
/*END BLOCK8*/
